// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

input {
  &.text-input {
    height: 30px;
    width: 300px;
    padding-left: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px grey;
  }
  &.submit-input {
    height: 30px;
    width: 50px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px grey;
  }
}


